<img src="{{'https://localhost:7205/'+movieDetail.moviePoster}}" class="img-fluid" id="sm-poster" alt="movie poster"
    (click)="viewMovie(movieDetail.movieId)">
<div class="card bg-dark rounded-0 text-white p-2" (click)="viewMovie(movieDetail.movieId)">
    <div class="d-flex align-items-center flex-row">
        <p class="text-secondary"><i class="fa-solid fa-star" id="gold-star"></i>
            <b>{{movieDetail.movieRatingOverall}}({{movieDetail.ratingCount}})</b>
        </p>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-dark ms-2 shadow-none" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            <p><i class="fa-regular fa-star " id="rate-star"></i></p>
        </button>
    </div>
    <a href="#" class="link-light text-decoration-none">
        <p id="movie-name">{{movieDetail.movieTitle}}</p>
    </a>
    <div class="d-flex align-items-center flex-row">
        <p class="certification me-1" *ngIf="movieDetail.movieId==filmCertification.movieId">
            {{filmCertification.filmCertificationType}}</p>
        <p>&nbsp;&#x2022;</p>
        <p class="r-date ms-2">{{movieDetail.releaseDate|date}}</p>
    </div>
</div>