<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 shadow-lg mt-5 mb-5 text-center rounded-3 col-sm-12">
        <h3 class="text-center p-3">Rate or Update Movie</h3>
        <form class="example-form container" [formGroup]="reviewDetail" (ngSubmit)="onSubmit()" novalidate>
  
          <input matInput formControlName="movieId" [errorStateMatcher]="matcher" hidden>
          <input matInput formControlName="userId" [errorStateMatcher]="matcher" hidden>
  
          <div class="row d-flex">
            <div class="col">
              <mat-form-field class="example-full-width form-group">
                <mat-label>Rating</mat-label>
                <input matInput formControlName="rating" [errorStateMatcher]="matcher">
                <mat-error *ngIf="rating.hasError('required')">Rating is required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row d-flex">
            <div class="col">
              <mat-form-field class="example-full-width form-group">
                <mat-label>Review</mat-label>
                <input matInput formControlName="review" [errorStateMatcher]="matcher">
                <mat-error *ngIf="review.hasError('required')">Review is required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <p>Rating Count: {{ ratingCount }}</p>
          <div class="col pb-5 mt-5">
            <button mat-raised-button color="primary" type="submit" class="example-full-width">
              {{ existingRating !== null ? 'Update Rating' : 'Submit Rating' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  