<div class="container  mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 shadow-lg mt-5 mb-5 text-center rounded-3  col-sm-12">
            <h3 class="text-center p-4">Sign-In</h3>
            <form class="example-form container" [formGroup]="signinForm" (ngSubmit)="signinForm.valid" novalidate>
                <div class="row">
                    <div class="row d-flex">
                        <div class="col">
                            <mat-form-field class="example-full-width form-group">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email" [errorStateMatcher]="matcher">
                                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Please enter a valid email address</mat-error>
                                <mat-error *ngIf="email.hasError('required')">
                                    Email is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="col">
                            <mat-form-field class="example-full-width form-group">
                                <mat-label>Password</mat-label>
                                <input type="password" id="password" matInput formControlName="password" [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'">
                                <mat-hint *ngIf="password.valid">Looks Strong Like You!</mat-hint>
                                <mat-error *ngIf="password.hasError('pattern') && !password.hasError('required')">Password must include 1 uppercase, 1 special symbol and 1 number</mat-error>
                                <mat-error *ngIf="password.hasError('required')">
                                    Password is required</mat-error>
                                <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </a>
                            </mat-form-field>
                        </div>
                    </div>
                 
                </div>
                <div class="form-inline fr mt-4"> <a id="forgot" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        class="font-weight-bold">Forgot password?</a> </div>
                <br>
                <div class="col pb-5">
                    <p class=" pt-3 text-secondary d-flex justify-content-center"><a routerLink="/register"
                            class="text-decoration-none">Don't have an Account? Register Here!</a></p>
                    <button mat-raised-button color="primary" type="submit" class="example-full-width"
                        (click)="onSubmit()">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="exampleModalLabel"> <span style="font-size: 25px;font-weight:700">Forget your
                        password?</span><br>
                    <small>Please provide your E-mail we will send the reset link</small>
                </p>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>

            <div class="modal-body">
                <div class="form-group pt-3">
                    <div class="input-field"> <span class="fa fa-user p-2"></span> <input type="text"
                            class=" form-control" placeholder="Email" value={{Femail}} [(ngModel)]="resetPassword" (ngModelChange)="checkValidEmail($event)"> </div>
                </div>
                <small *ngIf="!resetPassword" class="text-danger">*Email is required*</small><br>
                <small *ngIf="!isValidEmail && resetPassword" class="text-danger">*Email is Inavlid*</small>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="confirmToSend()">Send</button>
            </div>
        </div>
    </div>
</div>