<ng-container *ngIf="userRole=='Admin'">

    <a routerLink="/postmovie"><button class="btn btn-dark tex-white float-end mt-2 me-3">Add Movies</button></a>
    <ag-grid-angular [rowData]="movieList" [columnDefs]="colDefs" class="ag-theme-alpine mt-5" style="width: 100%; height: 100%;" (gridReady)="onGridReady($event)" [defaultColDef]="defaultColDef" [rowSelection]="'multiple'" [animateRows]="true">

    </ag-grid-angular>

</ng-container>
<div class=" p-3 shadow" id="main-tab" *ngIf="userRole=='Admin'">
    <h2 class="text-center p-3 text-dark">UserDetails</h2>

    <div class="tab-content p-3 border bg-light" id="nav-tabContent">
        <div class="tab-pane fade active show pb-5" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

            <section class="cards mt-5">
                <div class="container">
                    <div class="row gy-4">

                        <div class="col-md-4 " *ngFor="let x of movieList">
                            <div class="card">
                                <div class="flipper">
                                    <div class="front text-center">
                                        <div class="mt-2">
                                            <img src="data:image;base64,@Convert.ToBase64String(item.UserImg)" width="90" height="90" class="rounded-pill" />
                                        </div>
                                        <div class="card-title  p-2 mt-3">
                                            <div><b>Movie Title:</b>{{x.movieTitle}}</div>
                                            <div class="card-text">
                                                <b>Movie Type:</b> {{x.movieType}}
                                            </div>
                                            <div class="card-text"><b>Film Certification:</b> {{x.filmCertificationId}}
                                            </div>
                                            <div class="card-text"><b>Release Date:</b> {{x.releaseDate}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="back">
                                        <div><b>Date Of Birth:</b> @Html.DisplayFor(modelItem => item.DateOfBirth)</div>
                                        <div class="card-text"><b>Weight:</b> @Html.DisplayFor(modelItem => item.weight) kg
                                        </div>
                                        <div class="card-text"> <b>Height:</b> @Html.DisplayFor(modelItem => item.Height) cm </div>
                                        <div class="card-text"> <b>Gender:</b> @Html.DisplayFor(modelItem => item.GenderType.Gender) </div>
                                        <div class="card-text"> <b>Joined Date :</b> @Html.DisplayFor(modelItem => item.JoiningData) </div>
                                        <div class="text-center">



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>